[Unit]
Description=CCTV Flask Proxy
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/cctv
ExecStart=/home/ubuntu/cctv/venv/bin/python3 /home/ubuntu/cctv/server/app.py
Restart=always

[Install]
WantedBy=multi-user.target
